.card {
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  margin: 1em;
  user-select: none;
  border-radius: 50px;
background: #ee9696;
box-shadow:  5px 5px 20px #ca8080,
             -5px -5px 20px #ffadad;
          
color: white;
 }
 .activeCard {
  color: red;
  background: pink;
 }
 .button {
  width: 20rem;
  padding: 4px;
  text-align: center;
  background-color: #ffadad;
  font-size: 3rem;
  border-radius: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,111,1) 27%, rgba(76,71,162,1) 49%, rgba(183,59,164,1) 84%, rgba(0,212,255,1) 100%);
  margin: 4rem;

    color: white;
 }
 .ready {
  width: 15rem;
  padding: 2px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 25px;
  border-radius: 50px;
background: #89fa00;
box-shadow: inset 20px 20px 60px #74d500,
            inset -20px -20px 60px #9eff00;
  cursor: pointer;
 }
 .timer {
   width:100%;
   height:100vh;

   display:flex;
   justify-content:center;
 }
 .container {
  padding: 100px;
 }
 .timer_container{
  background-color:rgb(255, 255, 255);
  width:20vw;
  padding:1rem 6rem;
  border-radius:1rem;
  box-shadow:01rem 1rem -0.7rem rgb(0,0,0,0.4);
  margin-top: -2rem;
}
.stop,.restart {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  background-color: #5dff62;
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;

}
.stop {
    margin-left: 15px;
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 15px;
    font-size: 20px;
}
.game {
  background-color: #8dabfd;
}
 